.form-main {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}
.form-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-top: 20px;
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #383737;
  box-shadow: 0px 4px 4px -1px #000000;
}

.form-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 105px;
  margin-left: 260px;
}
.form-card h1 {
  margin-left: 200px;
}

label {
  display: flex;
  align-items: flex-start;
  color: rgb(15, 15, 15);
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.308);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}
