.card-container {
  color: rgb(255, 255, 255);
  border: black solid 1px;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 20vw;
  text-align: center;
  background-color: #091014d0;
}
