.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border: black solid 1px;
  width: 700px;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 20vw;
  cursor: pointer;
  background-color: #091014d0;
}

.text-descripition {
  font-weight: lighter;
  width: 350px;
  text-align: center;
}
